<h1 class="m-3">Restaurants</h1>

<div id="restaurants" class="m-3">

  <% @restaurants.each do |restaurant| %>
     <h4> <%= restaurant.name %>  </h4>
 <p><%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary" %></p>
  <% end %>

<%= link_to "â•Add restaurant", new_restaurant_path %>
</div>
